# Python
__pycache__/
*.py[cod]
*.pyc

# Env
venv/
.env

# Django DB
*.sqlite3
db.sqlite3

# IDE
.vscode/
.idea/

# Migrations cache
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
